@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text color */
  --background-rgb: 255, 255, 255; /* White background */
  --background-start-rgb: 240, 240, 240; /* Light gray start color */
  --background-end-rgb: 255, 255, 255; /* White end color */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  /* Apply Inter font to paragraphs and system font to article content */
  p, .font-article-content {
    font-family: system-ui, sans-serif; /* System font for paragraphs and article content */
  }

  /* Apply Cormorant Garamond to headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif; /* Cormorant Garamond for headings */
  }
}

@layer components {
  /* Define font styles for article headings */
  .font-article-heading {
    font-family: 'Cormorant Garamond', serif; /* Cormorant Garamond for article headings */
    font-weight: 500; /* Example weight, adjust as needed */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .hover\:text-dark-navy:hover {
    color: #003366 !important; /* Darker Navy */
  }
}

/* Smooth Hover Effects */
.text-gray-600 {
  transition: color 0.3s ease, transform 0.3s ease;
}

.text-gray-600:hover {
  color: #000;
  transform: scale(1.05);
}

/* Fade In Header Text */
.header-text {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.header-text.visible {
  opacity: 1;
}

/* Subtle Header Line Animation */
.header-lines {
  position: relative;
}

.header-lines::before,
.header-lines::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  transition: transform 0.3s ease-in-out;
}

.header-lines::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.header-lines::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}

.header-lines:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-lines:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

/* Smooth Scroll for Anchors */
html {
  scroll-behavior: smooth;
}

.article-content .whitespace-pre-wrap-custom {
  white-space: pre-wrap;
}
